
      <%= form_for :photo, url: space_photos_path(@space, @photo), :html =>{multipart: true} do |f| %>

              <div class="form-group ">
                <%= f.label :image %>
                <%= f.file_field :image  %>
                <%= f.submit "Add Photos", class: "btn btn-secondary btn-lg" %>
              </div><!-- /.form-group-->
          </div><!-- /.col-* -->


      <% end %>
    </div>
      <div class="container">
        <div class="row">
          <% @space.photos.each do |photo| %>
            <div class="col-sm-4">
               <%= image_tag photo.image %>
            </div>
          <% end %>


        </div>
</div>
