<header id="pageTop" class="header">
  <!-- TOP INFO BAR -->
  <div class="nav-wrapper navbarWhite">
    <!-- NAVBAR -->
    <nav id="menuBar" class="navbar navbar-default lightHeader animated " role="navigation">
      <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

          <div class="navbar-brand"> Seat & meet / Coworking
          </div>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">

            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "Sites", sites_path %></li>

              <li><a href="#">Pic</a></li>

              <%  if (!user_signed_in?) %>
                <li><%= link_to "Login", new_user_session_path %></li>
                <li><%= link_to "Sign Up", new_user_registration_path%></li>
              <% else %>
              <li class=" dropdown singleDrop">
                <a href="javascript:void(0)" class="dropdown-toggle"
                data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false"><%= current_user.fullname %> <i class="fa fa-angle-down"

                aria-hidden="true"></i></a>
                <ul class="dropdown-menu dropdown-menu-left">
                  <li><a href="#">My Dashboard</a></li>
                  <li><a href="#">My Orders</a></li>
                  <li><a href="#">My Reviews</a></li>
                  <li><a href="#">My Listings</a></li>
                  <li><a href="#">My Profile</a></li>
                  <li><%= link_to "Update Profile", edit_user_registration_path %></li>
                  <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
                </ul>
              </li>
              <% end %>
            </ul>
        </div>
        <%= link_to "Add my Space", new_site_path, class: "btn btn-default navbar-btn" %>
      </div>
    </nav>
  </div>
